extends layout

block content
  h1= title
  p Coming very soon. An easy overview of space and us.
  include form.html
  p Hosted by <a href="https://trucker.io">Trucker.io</a>, a project of <a href="https://twitter.com/bartolsthoorn">Bart Olsthoorn</a>